body {
  font-family: 'Times New Roman';
  padding: 0;
  margin: 0;
  line-height: 23pt;
  font-size: 19pt;
}

a {
  color: black;
  text-decoration: none;
}

a br {
  display: none;
}

.info {
  margin: 15px 0 0 15px;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo img {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  margin: auto;
}

.video {
  position: absolute;
  right: 110px;
  bottom: 110px;
  max-width: 400px;
  width: 100%;
}

.video img {
  width: 100%;
}

.about_popup {
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 70px 0 0 15px;
  display: none;
}

.about_text {
  margin-bottom: 70px;
}

#about_button:hover {
  cursor: pointer;
}

.check {
  position: relative;
  max-width: 19px;
  width: 100%;
  margin: 0;
}

.about_credits {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close_btn {
  display: none;
}

@media (max-width: 410px) {
  a br {
    display: block;
  }
}

@media (max-width: 430px) {
  body {
    padding: 15px;
  }

  .info {
    margin: 0;
    white-space: inherit;
  }

  .video {
    position: relative;
    right: auto !important;
    bottom: auto !important;
    margin-top: 350px !important;
    margin-bottom: 150px !important;
    max-width: 440px !important;
  }

  .about_popup {
    margin-left: 0;
  }

  .about_credits {
    display: block;
  }

  .left_col {
    margin-bottom: 70px;
  }

  .close_btn {
    display: block;
    text-align: right;
    margin: 70px 0 20px 0;
  }
}
@media (max-width: 1480px) {
  body {
    font-size: 15pt;
    line-height: 18pt;
  }

  .about_credits {
    max-width: 280px;
  }

  .about_text {
    max-width: 684px;
  }

  .check {
    max-width: 15px;
  }

  .logo img {
    min-width: 290px;
  }

  .video {
    right: 50px;
    bottom: 60px;
    max-width: 240px;
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .video {
    max-width: 190px;
  }
}

@media (min-width: 3280px) {
  body {
    line-height: 100px;
    font-size: 72px;
  }
  
  .about_popup {
    max-width: 2010px;
  }
  
  .about_credits {
    max-width: 1040px;
  }
  
  .check {
    max-width: 52px;
  }
  
  .logo {
    width: 100%;
  }
  
  .logo img {
    max-width: 800px;
  }
  
  .video {
    max-width: 800px;
  }
}
