body {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow: auto;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a br {
  display: none;
}

.main {
  padding: 12px 15px 15px 15px;
}

.info {
  position: relative;
}

.logo {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
  width: 100%;
  width: 340px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 11;
}

.logo:after {
  content: "";
  width: 340px;
  height: 80px;
  background: url("../media/nob.svg") no-repeat;
  display: inline-block;
}

.video {
  position: absolute;
  right: 110px;
  bottom: 110px;
  max-width: 325px;
  width: 100%;
}

.video img {
  width: 100%;
}

.about_popup {
  position: relative;
  width: 100%;
  margin: 70px 0 0 0;
  display: none;
  max-width: 660px;
}

.about_text {
  margin-bottom: 40px;
}

#about_button:hover, .close_btn:hover {
  cursor: pointer;
}

.check {
  position: relative;
  max-width: 15px;
  width: 100%;
  margin: 0 5px 0 0;
}

.about_credits {
  width: 100%;
  max-width: 380px;
}

@media (max-height: 340px) {
  a br {
    display: block;
  }
}

@media (max-width: 375px) {
  .location {
    max-width: 290px !important;
  }
}

@media (max-height: 720px) {
  .video {
    max-width: 300px;
  }
}

@media (max-height: 890px) {
  .video {
    right: 50px;
    bottom: 40px;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 19px;
    line-height: 22px;
  }
  .info {
    margin: 0;
    white-space: inherit;
  }

  .logo {
    position: fixed;
    max-width: 240px;
  }

  .logo:after {
      width: 240px;
      height: 60px;
  }

  .video {
    position: relative;
    right: auto !important;
    bottom: auto !important;
    margin-top: 90% !important;
    margin-bottom: 150px !important;
  }

  .about_popup {
    margin-left: 0;
  }

  .location {
    max-width: 370px;
  }

  .about_credits {
    display: block;
  }

  .left_col {
    margin-bottom: 70px;
  }
}

@media (max-width: 785px) {
  .location {
    max-width: 600px;
  }
}

@media (max-height: 740px) and (min-height: 651px) {
  .video {
    max-width: 300px !important;
  }
}

@media (max-width: 625px) {
  .location {
    max-width: 440px;
  }
}

@media (max-width: 630px) and (min-width: 431px) {
  .video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  a br {
    display: block;
  }
}

@media (min-width: 3280px) {
  body, div, a {
    line-height: 100px;
    font-size: 72px;
  }

  .about_text {
    max-width: none;
  }

  .about_popup {
    max-width: 2010px;
  }

  .about_credits {
    max-width: 1040px;
  }

  .check {
    max-width: 52px;
  }

  .logo {
    max-width: 800px;
  }

  .logo:after {
      width: 800px;
      height: 190px;
  }

  .video {
    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .about_credits {
    display: block;
    max-width: none;
  }

  .left_col {
    margin-bottom: 70px;
  }

  .close_btn {
    display: block;
    margin: 0 0 20px 0;
  }
}

@media (orientation: landscape) and (max-height: 650px) {
  .video {
    margin: 220px 15px 60px 15px;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    position: relative;
    transform: translate(0,0);
  }
  .location {
    max-width: 390px;
  }
  .logo {
    position: fixed;
    max-width: 320px;
  }
}
